/* .alternativesFinder {
  background: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 200px;
  max-width: 600px;
  margin-left: 150px;
  margin-top: 400px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
  color: #317589;
  text-align: center;
}

.medicineInput {
  margin-bottom: 10px;
}

.medicineInput input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

.addButton, .generateButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 250px;
}

.addButton:hover, .generateButton:hover {
  background-color: #2980b9;
}

.noAlternativesMessage {
  color: #e74c3c; 
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  background-color: #f9ebeb; 
}

.emptyInputMessage {
  color: #e67e22; 
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  background-color: #fdf2e9; 
} */







/* 20-08 module css */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

.alternativesFinder {
  background: #ecf0f1;
  font-family: 'Baloo Bhaijaan 2', cursive;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 6px 25px rgba(1, 121, 125, 0.4);
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 300px;
  min-height: 260px;
}

.title {
  color: #038f81;
  text-align: center;
  margin-bottom: 20px;
}

.medicineInput {
  margin-bottom: 10px;
}

.inputField {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 10px;
}

.generateButton, .addButton {
  background-color: #038f81;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 18px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

.generateButton:hover, .addButton:hover {
  background-color: #04a88c;
  transform: scale(1.02);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.alternativesList {
  margin-top: 20px;
}

.alternativesList h3 {
  color: #05bba9;;
}

.alternativesList ul {
  list-style-type: none;
  padding-left: 0;
}

.alternativesList li {
  background: #ecf0f1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #bdc3c7;
}

.message {
  color: #e74c3c;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  background-color: #f9ebeb;
}

.emptyInputMessage {
  color: #e67e22;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  background-color: #fdf2e9;
}

.hidden {
  display: none;
} */





/* 23-08 */
/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
.container
{
  min-height: 58vh;
}
.alternativesFinder {
  background: #ecf0f1;
  font-family: 'Baloo Bhaijaan 2', cursive;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 6px 25px rgba(1, 121, 125, 0.4);
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 300px;
  min-height: 260px;
  margin-bottom: 10px;
}

.title {
  color: #03673d;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  color: #03673d;
  text-align: center;
  margin-top: 20px;
}

.medicineInput {
  margin-bottom: 10px;
}

.inputField {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 19px;
  font-size: 19px;
}

.generateButton, .addButton {
  background-color: #03673d;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 18px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

.generateButton:hover, .addButton:hover {
  background-color: #04a866;
  transform: scale(1.02);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.alternativesList {
  margin-top: 20px;
}

.alternativesList h3 {
  color: #05bb63;
}

.alternativesList ul {
  list-style-type: none;
  padding-left: 0;
}

.alternativesList li {
  background: #ecf0f1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  font-size: 21px;
  border: 1px solid #bdc3c7;
}

.message {
  color: #e74c3c;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  background-color: #f9ebeb;
}

.emptyInputMessage {
  color: #e67e22;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  background-color: #fdf2e9;
}

.hidden {
  display: none;
} */








/* dataset changed 5-9 */
.container {
  min-height: 58vh;
}
.alternativesFinder {
  background: #ecf0f1;
  font-family: 'Baloo Bhaijaan 2', cursive;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 6px 25px rgba(1, 121, 125, 0.4);
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 300px;
  min-height: 260px;
  margin-bottom: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 80px; /* Adjust size as needed */
  height: 80px;
  border-radius: 15px;
  margin-right: 10px;
}

.title {
  color: #03673d;
  text-align: center;
  margin-bottom: 20px;
}

.medicineInput {
  margin-bottom: 10px;
}

.inputField {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-bottom: 19px;
  font-size: 19px;
}

.generateButton {
  background-color: #03673d;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: 18px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
}

.generateButton:hover {
  background-color: #04a866;
  transform: scale(1.02);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.alternativesList {
  margin-top: 20px;
}
.alternativesList h2 {
  color: #05bb63;
  font-size: large;
}

.alternativesList ul {
  list-style-type: none;
  padding-left: 0;
}

.alternativesList li {
  background: #ecf0f1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}

.medicineAlternative {
  background: #ecf0f1;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  font-size: 21px;
  border: 1px solid #bdc3c7;
}

.message {
  color: #e74c3c;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  background-color: #f9ebeb;
}

.emptyInputMessage {
  color: #e67e22;
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  background-color: #fdf2e9;
}
