.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    clear: both;
}

.botMessage {
    background-color: #e0e0e0;
    text-align: left;
    float: left;
}

.userMessage {
    background-color: #079c68;
    color: white;
    text-align: left;
    float: right;
}
